server {
    listen 80;
    server_name {{ item }};
    
    location /.well-known/acme-challenge/ {
        root {{ certbot_webroot_path }};
    }

    # Temporary redirect to HTTPS for Certbot verification
    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl;
    server_name {{ item }};
    
    ssl_certificate {{ nginx_ssl_cert_path }}/{{ item }}/fullchain.pem;
    ssl_certificate_key {{ nginx_ssl_cert_path }}/{{ item }}/privkey.pem;
    
    location / {
        proxy_pass {{ nginx_proxy_pass[item] }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}